@section headers{    
    <link rel="stylesheet" href="~/Content/ChestTemplateWhite/AnaSayfa.css" media="screen">
}
<section class="u-clearfix u-section-1" id="sec-08c5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="854">
                        <div class="u-container-layout u-container-layout-1"></div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <h2 class="u-text u-text-default u-text-1"> Tüm dosyalarınız için güvenli tek bir yer</h2>
                            <p class="u-text u-text-2"> Sizin için önemli olan fotoğrafları, videoları, dokümanları ve diğer dosyaları Sandık'a yükleyin. 10 GB'a kadar depolama alanıyla başlangıç yapın. Üstelik ücretsiz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-1-dark-1 u-section-2" id="carousel_982d">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-opacity u-opacity-60 u-palette-4-light-1 u-shape u-shape-circle u-shape-1"></div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-23 u-white u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h1 class="u-text u-text-1"> İhtiyacınız olan her şey, gittiğiniz her yer​de</h1>
                            <a href="/Secure/SignIn" class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-50 u-btn-1">Kayıt ol</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-37 u-image-1" data-image-width="1200" data-image-height="1233">
                        <div class="u-container-layout u-valign-top u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-align-left u-container-style u-group u-palette-4-light-1 u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-3">
                <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-1-base u-text-2">
                    Sandık'la, nereye giderseniz gidin dosyalarınız sizinle birliktedir. Dosyalarınızı herhangi bir bilgisayarda saklayabilirsiniz&nbsp;
                </h3>
            </div>
        </div>
        <div class="u-palette-4-light-1 u-shape u-shape-circle u-shape-2"></div>
    </div>
</section>
<section class="u-align-center u-clearfix u-image u-shading u-section-3" src="" data-image-width="1280" data-image-height="1070" id="sec-07c9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1">SANDIK</h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Sandık ile depolama hizmeti ile tüm anılarınızı bizimle güvende</p>

    </div>
</section>
<section class="u-clearfix u-section-4" id="sec-501d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" src="" data-image-width="1280" data-image-height="853">
                                <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h2 class="u-text u-text-1"> Dosyalarınıza Sandık'da kolayca ulaşın</h2>
                                    <p class="u-text u-text-2">
                                        Bilgisayarınızdaki Sandık klasörüne ister bir isterse yüzlerce dosya sürükleyin. Bu dosyalar,&nbsp;<a href="http://sandik.seykol.com/Secure/login" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">sandik.seykol.com</a>&nbsp;adresinde, mobil uygulamada ve Drive'ı nereye yüklerseniz orada her zaman elinizin altında olacaktır.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                    <h2 class="u-text u-text-3"> İhtiyacınız olan şeye, nereye giderseniz gidin erişin</h2>
                                    <p class="u-text u-text-4"> Cep telefonunuzda ve tabletinizde Android ve iOS'a yönelik uygulamaları edinin, ardından Sandık'da sakladığınız her şeye nerede olursanız olun erişin.</p>

                                </div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src="" data-image-width="1280" data-image-height="853">
                                <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-5" id="sec-3288">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" src="" data-image-width="1280" data-image-height="854">
                                <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1"> Güvenli ve paylaşılabilir</h2>
                                    <p class="u-text u-text-2"> Cihazlarınıza ne olursa olsun, Sandık'da depolanan dosyalarınız güvendedir. Ayrıca, Sandık'a yüklediğiniz veya Sandık'da oluşturduğunuz her şey size aittir ve paylaşmaya karar vermediğiniz sürece, otomatik olarak gizli şeklinde ayarlanır.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                    <h2 class="u-text u-text-3">Şifreli saklama</h2>
                                    <p class="u-text u-text-4">Dosyalarınızın daha güvende olması için şifreli bir şekilde saklayın.</p>

                                </div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src="" data-image-width="1280" data-image-height="768">
                                <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>